.feature-card-preview-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-preview-feature-card:hover {
  transform: scale(1.02);
}
.feature-card-preview-text {
  margin-bottom: var(--dl-space-space-twounits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.feature-card-preview-container {
  flex: 0 0 auto;
  width: auto;
  height: Medium;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-card-preview-image {
  width: 200px;
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}


